.baptismButton {
  height: 40px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #d49c04;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.baptismButton:hover {
  background-color: #edb61f;
  transform: scale(1.1);
  font-weight: bolder;
}

/* Responsive adjustments */
@media (max-width: 1540px) {
  .baptismButton {
    height: 30px;
    padding: 10px 10px;
  }
}

@media (max-width: 992px) {
  .baptismButton {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .baptismButton {
    padding: 20px 15px;
  }
}
