@media only screen and (max-width: 600px) {
  .pastors_container {
    gap: 20px;
  }

  .Pastor,
  .Mum_Chi {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .Mum_Chi {
    flex-direction: column;
  }

  .Pastors_header_text {
    font-size: 35px !important;
  }

  .expect_text {
    padding: 0 !important;
  }
}

.pastors_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;
  width: 90%;
}

.Past_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pastors_header_text {
  font-size: 45px;
  font-weight: bolder;
  color: black;
}

.expect_text {
  padding: 20px 0;
}
