@media only screen and (max-width: 600px) {
    .Pastor {
        display: flex; 
        flex-direction: column-reverse;
    }
}
.Past_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

