h1{
    color: var(--e-global-color-text);
    font-family: Coolvetica, Sans-serif;
    font-size: 140px;
    font-weight: 700;
    text-transform: capitalize;
}
h6{
    color: var(--e-global-color-text);
    font-family: Jost, Sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
p:first-child{
    margin-top: 40px;
    margin-bottom: 30px;
}
p{
    color: var(--e-global-color-text);
    font-family: Montserrat, Sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    
}
h2{
    color: var(--e-global-color-text);
    font-family: Coolvetica, Sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
}
.readmore {
    height: 50px;
    width: 20%;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 20px;
    background-color: #f56618;
    color: #fff;
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.readmore:hover {
    background-color: #f56618;
    transform: scale(1.1);
}
.switch{
    margin-top: 32px;
    height: 320px;
}

.switch1{
    margin-top: 16px;
    margin-bottom: 84px;
    height: 320px;
}