h1 {
    color: var(--e-global-color-text);
    font-family: Coolvetica, Sans-serif;
    font-size: 140px;
    font-weight: 700;
    text-transform: capitalize;
}
h6{
    color: var(--e-global-color-text);
    font-family: Jost, Sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
}
p:first-child{
    margin-top: 40px;
    margin-bottom: 30px;
}

p {
    color: var(--e-global-color-text);
    font-family: Montserrat, Sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

h2 {
    color: var(--e-global-color-text);
    font-family: Coolvetica, Sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
}

.readmore {
    height: 50px;
    width: 20%;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 20px;
    background-color: #f56618;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.readmore:hover {
    background-color: #f56618;
    transform: scale(1.1);
}
.switch{
    
    height: 350px;
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 70px; /* Adjust font size for smaller screens */
    }
    
    h2 {
        font-size: 40px; /* Adjust font size for smaller screens */
    }
    .bContainer{
        place-items: center;
        width: 100%;
    }
    
    .switch {
        height: auto; /* Allow height to adjust dynamically */
    }
    .readmore {
        width: 100%; /* Set the width to 100% for full responsiveness */
        font-size: 0.8rem; /* Decrease font size for smaller screens */
        margin-bottom: 10px; /* Add some spacing between buttons */
    }
}

/* Media query for screens between 768px and 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 100px; /* Adjust font size for medium screens */
    }
    
    h2 {
        font-size: 50px; /* Adjust font size for medium screens */
    }
    
    .switch {
        height: 300px; /* Adjust height for medium screens */
    }
    .readmore {
        width: 45%; /* Set the width to 45% for medium screens */
    }
}
