*{
   font-size: 16px;
}

.fade-in {
   opacity: 1;
   transition: opacity 1s ease-in;
 }
 
 .fade-out {
   opacity: 0;
   transition: opacity 1s ease-out;
 }

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 767px) {
   .h1 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }
  }


  
